* {
  margin: 0;
  padding: 0;
}

.slider {
  margin: 100px auto;
  width: 350px;
  height: 520px;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
}

.slider-before, .slider-after {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: inherit;
  height: inherit;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 4px;
  background-color: #fff;
  z-index: 1;
  cursor: pointer;
}

.line-ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  transform: translate(-40%, -50%);
  cursor: pointer;
}

.slider-after {
  width: 50%;
}